<section class="login p-fixed d-flex text-center bg-dark ">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Register</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password">
                <span class="md-line"></span>
              </div>
              
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Register</button>
                </div>
              </div>
              <hr/>
              <div class="row m-t-25">
                <div class="col-12">
                  <div class="forgot-phone text-left f-left">
                    <a (click)="gService.forgot()" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a (click)="gService.login()" class="text-right f-w-600 text-inverse"> Login</a>
                  </div>
                </div>
              </div>
             </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
